.vscode/
*.exe
Engine/.vs/
*.sln
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.obj
*.pch
*.tlog
*.lastbulidstate
*.log
*.pdb
*.idb
*.o


bin/
Engine/bin

/CMakeFiles/*
CMakeCache.txt
CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake
cmake_install.cmake
CMakeFiles/*
Makefile